h2{
	font-size: 3em;
	font-weight: 700;
}

p, a{
	font-size: 1.5em;
}

.center{
	text-align: center;
}

.border{
    border-top-width: 5px;
    border-top-style: solid;
    border-color: #2c3e50;
    max-width: 250px;
}

.jumbotron {
	background-color: #ff8c22;
	color: #fff;
	margin-bottom: 0px;
}

.jumbotron .container{
	padding-top: 100px;
	padding-bottom: 15px;
}

.jumbotron .border, #about .border {
    border-color: #fff;
}

.navbar {
	border: 0px;
	min-height: 80px;
}

.navbar-default {
	background-color: #2c3e50;
}

.navbar-fixed-top{
	padding: 15px 0;
}

.nav ul{
	padding: 25px;
}

.nav li{
	display: inline;
}

.navi{
	font-weight: 700;
}

.navbar-default .navbar-nav .active a {
	color: #fff; 
	background-color: #1a242f;
}

.navbar-default .navbar-nav .active a:focus{
	background-color: #1a242f;
	color: #fff;
}

.navbar-default .navbar-nav .active a:hover{
	background-color: #1a242f;
	color: #fff;
}

.navbar-default .navbar-nav li a:hover{
	color: #ff8c22;
}

.navbar-default .navbar-nav li a {
	color: #fff;
}

.portfolio-item{
	display: block;
	margin: 20px auto;
	background-color: #2c3e50; 
	max-width: 300px;
}

#logo{
	width: 400px; 
	height: 400px;
	display: block;
   	margin: 0 auto;
}

#davian{
	font-weight: 700;
	margin-top: 0px;
}

#davianhome{
	font-weight: 700;
	font-size: 2em;
	color: #ffffff;
}

#davianhome:hover{
	color: #ff8c22;
}

#portfolio{
	padding-top: 80px;
	padding-bottom: 80px;
}

#about{
	background-color: #ff8c22;
	padding-top: 80px;
	padding-bottom: 80px;
	color: #fff;

}

#contact{
	padding-top: 80px;
	padding-bottom: 80px;
}

